body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;   
    font-family: sans-serif; 
}


img
  {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }  


.header {
    width: 100%;
    margin: 0 auto;
    background-image: url(../IMG/photo1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-size: 25pt;  
    max-width: 50%;
}

.elements {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
    color: #FFF;    
}

.elements li a {
    text-decoration: none;
    color: #FFF;
    padding: 12px 16px;    
}

.elements li a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #130e27;
    border-radius: 6px;
}

.sellyour {
    margin-top: 90px;
    margin-left: 190px;
    padding: 0;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    color: #130e27;
}

.carnow {
    margin: 0 190px;
    padding: 0;
    margin-top: -30px;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}

.textheader {
    margin-top: 55px;
    margin-left: 190px;
    padding-bottom: 200px;
    max-width: 650px;
    font-size: 35px;
    font-family: "PT Serif";
    color: #FFF;
    line-height: 1.5;
    width: 40%;
}


.all_ourservices {
    width: 100%;
    margin: 0 auto ;
    background-color: #FFF;
}

.ourservices_box {
    width: 100%;
    display: flex;
}

.our {
    margin-left: 190px;
    margin-top: 40px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c62314;
}

.services {
    margin-left: 20px; /* it makes space between words "OUR" and "SERVICES" */
    margin-top: 40px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #130e27;
}

.icons_box {
    margin: 40px 190px;
    
    display: flex;
    justify-content: space-between;
    /* height: 300px;     */
}

.icon_box_inner {
    text-align: center;
    /* height: 250px;    */
}


.icon_text {
    /* padding-top: 60px; */
    color: #130e27;
    font-size: 13pt;
    font-family: "PT Serif";
    font-weight: 400;
    width: 100%;
}

i.fa {
    padding: 0;
    margin-bottom: 40px;
    font-size: 160px;
    color: #130e27;
}

.our_story {
    margin: 0 auto;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourstory_text {
    color: #FFF;
    font-family: "PT Serif";
    font-weight: 400;
}

.ourstory_button {
    color: #FFF;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
    background-color: #c62314;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pricing {
    margin: 0 auto;
    width: 100%;
    /* height: 630px; */
    background-color: #efefef;
}

.pricing_word {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat";
    font-weight: bolder;
    color: #130e27;
    text-transform: uppercase;
    text-align: center;
}

.start_bus_prof {
    margin: 0px 190px 50px 190px;
    display: flex;
    justify-content: space-between;
    /* height: 400px; */
}

.starter, .business, .professional {
    padding-top: 20px;
    background-color: #FFF;
    width: 32%;
    text-align: center;
    color: #130e27;
}

.word {
    font-size: 15pt;
    margin-bottom: 20px;
    font-family: "PT Serif";
    font-weight: bold;
}

.price {
    margin-bottom: 10px;
    font-size: 65px;
    color: #c62314;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
    
}

.text_star_bus_pro {
    margin-bottom: 40px;
    font-size: 15pt;
    font-family: "PT Serif";
    text-align: center;
    color: #130e27;

}

.button_price {
    margin: 0 auto;
    font-size: 16pt;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #FFF;
    width: 65%;
    height: 50px;
    background-color: #130e27;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer {
    margin: 0 auto;
    background-color: #130e27;
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text {
    margin-left: 190px;
    color: #FFF;
    font-size: 15pt;
    font-family: "PT Serif";
}

.footer_text_red {
    color: #c62314;
    font-size: 15pt;
    font-family: "PT Serif";
}

.footer_logo {
    margin-right: 190px;
    width: 17%;
}



/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* Block "Header" */

@media screen and (min-width: 1921px) {
    .top {
        justify-content: flex-start;
    } 

    .menu {
        margin-top: 80px;
        font-size: 24pt;  
    }

    .elements li a {
        padding: 15px 16px;    
    }
    
    .elements li a:hover {
        border-radius: 8px;
    }

    .logo {
        width: 25%;
        margin-top: 80px;
        margin-left: 130px;
        margin-right: 130px;
    }

    .sellyour {
        margin: 80px 230px 20px;
        font-size: 120px; 
    }
    
    .carnow {
        margin: 0 0 0 230px;
        margin-top: -30px;
        font-size: 120px;
    }
    
    .textheader {
        margin-top: 35px;
        margin-left: 230px;
        padding-bottom: 230px;
        font-size: 20pt;  
        width: 40%;      
    }    
}
 
@media (min-width: 1537px) and (max-width: 1920px) {  
    .top {
        justify-content: flex-start;
    } 

    .menu {
        margin-top: 60px;
        /* margin-right: 90px; */
        font-size: 24pt;  
    }

    .elements li a {
        padding: 15px 16px;    
    }
    
    .elements li a:hover {
        border-radius: 8px;
    }

    .logo {
        width: 25%;
        margin-top: 50px;
        margin-left: 130px;
        margin-right: 130px;
    }

    .sellyour {
        margin: 50px 230px 20px;
        font-size: 120px; 
    }
    
    .carnow {
        margin: 0 0 0 230px;
        margin-top: -30px;
        font-size: 120px;
    }
    
    .textheader {
        margin-top: 35px;
        margin-left: 230px;
        padding-bottom: 230px;
        font-size: 20pt;  
        width: 40%;      
    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    .top {
        justify-content: flex-start;
    }

    .menu {
        margin-top: 60px;
        font-size: 22pt;  
    }

    .elements li a {
        padding: 14px 14px;    
    }
    
    .elements li a:hover {
        border-radius: 7px;
    }

    .logo {
        width: 22%;
        margin-top: 45px;
        margin-left: 90px;
        margin-right: 90px;
    }

    .sellyour {
        margin: 50px 210px 20px;
        font-size: 110px; 
    }
    
    .carnow {
        margin: 0 0 0 210px;
        margin-top: -30px;
        font-size: 110px;
    }
    
    .textheader {
        margin-top: 35px;
        margin-left: 210px;
        padding-bottom: 210px;
        font-size: 18pt; 
        width: 40%;       
    }
}


@media (min-width: 993px) and (max-width: 1280px) {
    .top {
        justify-content: flex-start;
    }

    .logo {
        width: 22%;
        margin-top: 45px;
        margin-left: 90px;
        margin-right: 90px;
    }    

    .menu {
        margin-top: 30px;
        margin-right: 110px;
        font-size: 15pt;  
    }
    
    .elements li a {
        padding: 10px 12px;    
    }
    
    .elements li a:hover {
        border-radius: 6px;
    }
        
    .sellyour {
        margin-left: 160px;
        padding: 0;
        font-size: 80px;
    }
    
    .carnow {
        margin: 0 160px;
        padding: 0;
        margin-top: -20px;
        font-size: 80px;
    }
    
    .textheader {
        margin-left: 160px;
        margin-top: 15px;
        padding-bottom: 170px;
        font-size: 13pt;
        width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .top {
        justify-content: flex-start;
    }

    .logo {
        width: 22%;
        margin-top: 45px;
        margin-left: 90px;
        margin-right: 90px;
    }    

    .menu {
        margin-top: 30px;
        margin-right: 110px;
        font-size: 12pt;  
    }
    
    .elements li a {
        padding: 9px 10px;    
    }
    
    .elements li a:hover {
        border-radius: 5px;
    }
        
    .sellyour {
        margin-left: 140px;
        padding: 0;
        font-size: 65px;
    }
    
    .carnow {
        margin: 0 140px;
        padding: 0;
        margin-top: -17px;
        font-size: 65px;
    }
    
    .textheader {
        margin-left: 140px;
        margin-top: 15px;
        padding-bottom: 140px;
        font-size: 10pt;
        width: 40%;
    }
}

@media (min-width: 577px) and (max-width: 768px)  {
    .top {
        justify-content: flex-start;
    }

    .logo {
        width: 20%;
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 25px;
    }    

    .menu {
        margin-top: 30px;
        font-size: 10pt;
    }
    
    .elements li a {
        padding: 7px 8px;    
    }
    
    .elements li a:hover {
        border-radius: 4px;
    }
        
    .sellyour {
        margin-top: 70px;
        margin-left: 110px;
        font-size: 50px;
    }
    
    .carnow {
        margin: 0 110px;
        padding: 0;
        margin-top: -13px;
        font-size: 50px;
    }
    
    .textheader {
        margin-left: 110px;
        margin-top: 15px;
        padding-bottom: 110px;
        font-size: 8pt;
        width: 40%;
    }
}

@media (min-width: 377px) and (max-width: 576px)  {
    .top {
        justify-content: flex-start;
    }

    .logo {
        width: 20%;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 20px;
    }    

    .menu {
        margin-top: 30px;
        margin-right: 10px;
        font-size: 6pt;
    }
    
    .elements li a {
        padding: 5px 4px;    
    }
    
    .elements li a:hover {
        border-radius: 3px;
    }
        
    .sellyour {
        margin-top: 50px;
        margin-left: 90px;
        font-size: 35px;
    }
    
    .carnow {
        margin: 0 90px;
        margin-top: -9px;
        font-size: 35px;
    }
    
    .textheader {
        margin-left: 90px;
        margin-top: 15px;
        padding-bottom: 70px;
        font-size: 6pt;
        width: 40%;
    }
}

@media screen and (max-width: 376px)  {
    .top {
        justify-content: flex-start;
    }

    .logo {
        width: 22%;
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 15px;
    }    

    .menu {
        margin-top: 20px;
        font-size: 4pt;
    }
    
    .elements li a {
        padding: 4px 3px;    
    }
    
    .elements li a:hover {
        border-radius: 1px;
    }
        
    .sellyour {
        margin-top: 40px;
        margin-left: 60px;
        font-size: 22px;
    }
    
    .carnow {
        margin: 0 60px;
        margin-top: -5px;
        font-size: 22px;
    }
    
    .textheader {
        margin-left: 60px;
        margin-top: 15px;
        padding-bottom: 50px;
        font-size: 4pt;
        width: 40%;
    }
}

/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* Blocks "Our Services" + "Story" */

@media screen and (min-width: 1921px) {
    .our {
        margin-left: 230px;
        margin-top: 75px;
        font-size: 60px;
    }
    
    .services {
        margin-left: 20px; /* space between words "OUR" and "SERVICES" */
        margin-top: 75px;
        font-size: 60px;
    }
        
    .icons_box {
        margin: 100px 230px 200px 230px;
    }

    .icon_box_inner {
        padding: 0 20px;
    }
    
    i.fa {
        padding: 0;
        margin-bottom: 40px;
        font-size: 215px;
    }

    .icon_text {
        margin-top: 30px;
        font-size: 22pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 45px 0;
    }
    
    .ourstory_text {
        margin-left: 230px;
        font-size: 22pt;
        padding: 15px;
    }
    
    .ourstory_button {
        margin-right: 230px;
        margin-left: 40px;
        font-size: 34px;
        width: 24%;
        padding: 20px;
        border-radius: 8px;
    }

}

@media (min-width: 1537px) and (max-width: 1920px) {    
    .our {
        margin-left: 230px;
        margin-top: 60px;
        font-size: 60px;
    }
    
    .services {
        margin-left: 20px; /* space between words "OUR" and "SERVICES" */
        margin-top: 60px;
        font-size: 60px;
    }
        
    .icons_box {
        margin: 100px 230px;
    }

    .icon_box_inner {
        padding: 0 20px;
    }
    
    i.fa {
        padding: 0;
        margin-bottom: 40px;
        font-size: 200px;
    }

    .icon_text {
        margin-top: 30px;
        font-size: 21pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 45px 0;
    }
    
    .ourstory_text {
        margin-left: 230px;
        font-size: 21pt;
        padding: 15px;
    }
    
    .ourstory_button {
        margin-right: 230px;
        margin-left: 40px;
        padding: 20px;
        font-size: 30px;
        width: 24%;
        border-radius: 8px;
    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    .our {
        margin-left: 210px;
        margin-top: 60px;
        font-size: 60px;
    }
    
    .services {
        margin-left: 20px; /* space between words "OUR" and "SERVICES" */
        margin-top: 60px;
        font-size: 60px;
    }
        
    .icons_box {
        margin: 100px 210px;
        margin-bottom: 140px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 170px;
    }

    .icon_text {
        margin-top: 30px;
        font-size: 19pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 45px 0;
    }
    
    .ourstory_text {
        margin-left: 210px;
        font-size: 19pt;
    }
    
    .ourstory_button {
        margin-right: 210px;
        margin-left: 40px;
        padding: 17px;
        font-size: 28px;
        width: 24%;
        border-radius: 7px;
    }
}

@media (min-width: 993px) and (max-width: 1280px) {  
    .our {
        margin-left: 160px;
        margin-top: 50px;
        font-size: 50px;
    }
    
    .services {
        margin-left: 20px; /* space between words "OUR" and "SERVICES" */
        margin-top: 50px;
        font-size: 50px;
    }
        
    .icons_box {
        margin: 60px 160px 70px 160px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 150px;
    }

    .icon_text {
        margin-top: 20px;
        font-size: 16pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 45px 0;
    }
    
    .ourstory_text {
        margin-left: 160px;
        font-size: 16pt;
    }
    
    .ourstory_button {
        margin-right: 160px;
        margin-left: 40px;
        padding: 17px;
        font-size: 26px;
        width: 24%;
        border-radius: 6px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .our {
        margin-left: 140px;
        margin-top: 40px;
        font-size: 40px;
    }
    
    .services {
        margin-left: 20px; /* space between words "OUR" and "SERVICES" */
        margin-top: 40px;
        font-size: 40px;
    }
        
    .icons_box {
        margin: 50px 140px 60px 140px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 120px;
    }

    .icon_text {
        margin-top: -10px;
        font-size: 14pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 35px 0;
    }
    
    .ourstory_text {
        margin-left: 140px;
        font-size: 14pt;
    }
    
    .ourstory_button {
        margin-right: 140px;
        margin-left: 40px;
        padding: 15px;
        font-size: 21px;
        width: 24%;
        border-radius: 5px;
    }    
}

@media (min-width:577px ) and (max-width: 768px) {
    .our {
        margin-left: 110px;
        margin-top: 30px;
        font-size: 30px;
    }
    
    .services {
        margin-left: 10px; /* space between words "OUR" and "SERVICES" */
        margin-top: 30px;
        font-size: 30px;
    }
        
    .icons_box {
        margin: 35px 110px 50px 110px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 100px;
    }

    .icon_text {
        margin-top: -10px;
        font-size: 11pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 25px 0;
    }
    
    .ourstory_text {
        margin-left: 110px;
        font-size: 11pt;
    }
    
    .ourstory_button {
        margin-right: 110px;
        margin-left: 25px;
        padding: 15px;
        font-size: 15px;
        width: 24%;
        border-radius: 4px;
    }   
}

@media (min-width:377px ) and (max-width: 576px) {
    .our {
        margin-left: 90px;
        margin-top: 25px;
        font-size: 25px;
    }
    
    .services {
        margin-left: 10px; /* space between words "OUR" and "SERVICES" */
        margin-top: 25px;
        font-size: 25px;
    }
        
    .icons_box {
        margin: 35px 90px 30px 90px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 70px;
    }

    .icon_text {
        margin-top: -25px;
        font-size: 7pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 20px 0;
    }
    
    .ourstory_text {
        margin-left: 90px;
        font-size: 7pt;
    }
    
    .ourstory_button {
        margin-right: 90px;
        margin-left: 25px;
        padding: 13px;
        font-size: 10px;
        padding: 10px;
        width: 24%;
        border-radius: 4px;
    }   
}

@media screen and (max-width: 376px) {
    .our {
        margin-left: 60px;
        margin-top: 15px;
        font-size: 15px;
    }
    
    .services {
        margin-left: 4px; /* space between words "OUR" and "SERVICES" */
        margin-top: 15px;
        font-size: 15px;
    }
        
    .icons_box {
        margin: 15px 60px 20px 60px;
    }

    .icon_box_inner {
        padding: 0 0px;
        margin-right: 10px;
    }

    .icon_box_inner:last-child{
        margin-right: 0px;
    }
    
    i.fa {
        padding: 0;
        font-size: 50px;
    }

    .icon_text {
        margin-top: -30px;
        font-size: 5pt;
        width: 100%;
    }

    .our_story {
        margin: 0 auto;
        width: 100%;
        padding: 20px 0;
    }
    
    .ourstory_text {
        margin-left: 60px;
        font-size: 5pt;
    }
    
    .ourstory_button {
        margin-right: 60px;
        margin-left: 25px;
        font-size: 7px;
        padding: 7px;
        width: 24%;
        border-radius: 4px;
    }   
}

/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* =================================================================================================================  */
/* Blocks "Pricing" + "Footer" */

@media screen and (min-width: 1921px) {
    .pricing_word {
        padding-top: 70px;
        margin-bottom: 70px;
        font-size: 60px;
    }
    
    .start_bus_prof {
        margin: 0px 230px 0px 230px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 23px;
        margin-bottom: 140px;
        width: 32%;
    }
    
    .word {
        font-size: 24pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .price {
        margin-bottom: 20px;
        font-size: 85px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 45px;
        font-size: 22pt;
    }
    
    .button_price {
        padding: 40px 0;
        font-size: 34px;
        width: 65%;
        border-radius: 8px;
    }
    
    .footer_text {
        margin-left: 230px;
        font-size: 22pt;
    }
    
    .footer_text_red {
        font-size: 22pt;
    }
    
    .footer_logo {
        margin: 60px 230px 60px 20px;
        width: 17%;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) {
    .pricing_word {
        padding-top: 70px;
        margin-bottom: 70px;
        font-size: 60px;
    }
    
    .start_bus_prof {
        margin: 0px 230px 0px 230px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 23px;
        margin-bottom: 140px;
        width: 32%;
    }
    
    .word {
        font-size: 23pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .price {
        margin-bottom: 20px;
        font-size: 75px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 45px;
        font-size: 21pt;
    }
    
    .button_price {
        padding: 40px 0;
        font-size: 30px;
        width: 65%;
        border-radius: 8px;
    }
    
    .footer_text {
        margin-left: 230px;
        font-size: 21pt;
    }
    
    .footer_text_red {
        font-size: 21pt;
    }
    
    .footer_logo {
        margin: 60px 230px 60px 20px;
        width: 17%;
    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    .pricing_word {
        padding-top: 70px;
        margin-bottom: 70px;
        font-size: 60px;
    }
    
    .start_bus_prof {
        margin: 0px 210px 0px 210px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 23px;
        margin-bottom: 140px;
        width: 32%;
    }
    
    .word {
        font-size: 21pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .price {
        margin-bottom: 20px;
        font-size: 70px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 45px;
        font-size: 19pt;
    }
    
    .button_price {
        padding: 30px 0;
        font-size: 28px;
        width: 65%;
        border-radius: 7px;
    }
    
    .footer_text {
        margin-left: 210px;
        font-size: 19pt;
    }
    
    .footer_text_red {
        font-size: 19pt;
    }
    
    .footer_logo {
        margin: 60px 210px 60px 20px;
        width: 17%;
    }
}

@media (min-width: 993px) and (max-width: 1280px) {
    .pricing_word {
        padding-top: 60px;
        margin-bottom: 60px;
        font-size: 50px;
    }
    
    .start_bus_prof {
        margin: 0px 160px 0px 160px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 23px;
        margin-bottom: 140px;
        width: 32%;
    }
    
    .word {
        font-size: 19pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .price {
        margin-bottom: 20px;
        font-size: 65px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 45px;
        font-size: 16pt;
    }
    
    .button_price {
        padding: 30px 0;
        font-size: 26px;
        width: 65%;
        border-radius: 6px;
    }
    
    .footer_text {
        margin-left: 160px;
        font-size: 16pt;
    }
    
    .footer_text_red {
        font-size: 16pt;
    }
    
    .footer_logo {
        margin: 50px 160px 50px 20px;
        width: 17%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .pricing_word {
        padding-top: 45px;
        margin-bottom: 45px;
        font-size: 40px;
    }
    
    .start_bus_prof {
        margin: 0px 140px 0px 140px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 16px;
        margin-bottom: 80px;
        width: 32%;
        position: relative;
    }
    
    .word {
        font-size: 16pt;
        margin-top: 18px;
        margin-bottom: 25px;
    }
    
    .price {
        margin-bottom: 20px;
        font-size: 50px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 70px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14pt;
    }
    
    .button_price {
        padding: 26px 0px;
        font-size: 21px;
        width: 64%;
        border-radius: 5px;
        position: absolute;
        bottom: 12px;
        left: 18%
    }
    
    .footer_text {
        margin-left: 140px;
        font-size: 14pt;
    }
    
    .footer_text_red {
        font-size: 14pt;
    }
    
    .footer_logo {
        margin: 45px 140px 45px 20px;
        width: 17%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .pricing_word {
        padding-top: 35px;
        margin-bottom: 35px;
        font-size: 30px;
    }
    
    .start_bus_prof {
        margin: 0px 110px 0px 110px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 14px;
        margin-bottom: 80px;
        width: 32%;
        position: relative;
    }
    
    .word {
        font-size: 14pt;
        margin-top: 18px;
        margin-bottom: 25px;
    }
    
    .price {
        margin-bottom: 16px;
        font-size: 40px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 70px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11pt;
    }
    
    .button_price {
        padding: 17px 0px;
        font-size: 15px;
        width: 64%;
        border-radius: 4px;
        position: absolute;
        bottom: 12px;
        left: 18%
    }
    
    .footer_text {
        margin-left: 110px;
        font-size: 11pt;
    }
    
    .footer_text_red {
        font-size: 11pt;
    }
    
    .footer_logo {
        margin: 40px 110px 40px 15px;
        width: 17%;
    }
}

@media (min-width: 377px) and (max-width: 576px) {
    .pricing_word {
        padding-top: 25px;
        margin-bottom: 25px;
        font-size: 25px;
    }
    
    .start_bus_prof {
        margin: 0px 90px 0px 90px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 14px;
        margin-bottom: 80px;
        width: 32%;
        position: relative;
    }
    
    .word {
        font-size: 11pt;
        margin-top: 12px;
        margin-bottom: 18px;
    }
    
    .price {
        margin-bottom: 16px;
        font-size: 30px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 70px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 7pt;
    }
    
    .button_price {
        padding: 5px;
        height: 35px;
        font-size: 10px;
        width: 64%;
        border-radius: 4px;
        position: absolute;
        bottom: 8px;
        left: 18%
    }
    
    .footer_text {
        margin-left: 90px;
        font-size: 7pt;
    }
    
    .footer_text_red {
        font-size: 7pt;
    }
    
    .footer_logo {
        margin: 30px 90px 30px 10px;
        width: 17%;
    }
}

@media screen and (max-width: 376px) {
    .pricing_word {
        padding-top: 15px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .start_bus_prof {
        margin: 0px 60px 0px 60px;
    }
    
    .starter, .business, .professional {
        padding-bottom: 14px;
        margin-bottom: 20px;
        width: 32%;
        position: relative;
    }
    
    .word {
        margin-top: -10px;
        font-size: 7pt;
        margin-bottom: 8px;
    }
    
    .price {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .text_star_bus_pro {
        margin-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 5pt;
    }
    
    .button_price {
        height: 35px;
        font-size: 7px;
        width: 64%;
        border-radius: 4px;
        position: absolute;
        bottom: 8px;
        left: 18%
    }
    
    .footer_text {
        margin-left: 60px;
        font-size: 5pt;
    }
    
    .footer_text_red {
        font-size: 5pt;
    }
    
    .footer_logo {
        margin: 20px 60px 20px 3px;
        width: 17%;
    }
}


